{

  "plugins": [
    "add-module-exports",
    "transform-react-display-name",
    "transform-decorators-legacy",

    "transform-class-properties",
    "syntax-decorators",
  ],
  "presets": [
    [
      "es2015",
      {
        "modules": false
      }
    ],
    "react",
    "stage-0"
  ],
  "env": {
    "development": {
      "presets": [
        "react-hmre"
      ],
      "plugins": [
        "typecheck",
        [
          "transform-runtime",
          {
            "helpers": true,
            "polyfill": true,
            "regenerator": true,
            "moduleName": "babel-runtime"
          }
        ],
      ]
    }
  }
}

