.DS_Store
node_modules/
.elasticbeanstalk/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

.idea/
dist/
*.iml
webpack-assets.json
webpack-stats.json
npm-debug.log
